<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="ودجتي" android:icon="@android:drawable/sym_def_app_icon" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".OnboardingActivity" android:exported="false"/>
        <activity android:name=".SubscribeActivity" android:exported="false"/>
        <activity android:name=".ContactActivity" android:exported="false"/>
        <activity android:name=".AboutActivity" android:exported="false"/>
        <activity android:name=".TasksActivity" android:exported="false"/>
        <activity android:name=".TeamsActivity" android:exported="false"/>
        <receiver android:name=".ClockWidget" android:exported="true">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/clock_info"/>
        </receiver>
        <receiver android:name=".PrayerWidget" android:exported="true">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/prayer_info"/>
        </receiver>
        <receiver android:name=".QuoteWidget" android:exported="true">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/quote_info"/>
        </receiver>
        <receiver android:name=".TasbihWidget" android:exported="true">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/tasbih_info"/>
        </receiver>
        <receiver android:name=".TasksWidget" android:exported="true">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/tasks_info"/>
        </receiver>
        <receiver android:name=".SportsWidget" android:exported="true">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/sports_info"/>
        </receiver>
    </application>
</manifest>
